## Base JavaScript files

#set ($SITE_ROOT = $content.getURI(''))

## only load once
#if (!$baseJS)

    <!-- load polyfills before ANY other JavaScript -->
    <script src="$content.getURI('scripts/polyfills.js')"></script>

    <!-- set global vars that are used often -->
    <script>

        var XNAT = XNAT || {};
        var serverRoot = "$content.getURI('')";
        var csrfToken = "$!data.getSession().getAttribute("XNAT_CSRF")";
        var showReason = typeof $showReason != 'undefined' ? $showReason : null;
        var requireReason = typeof $requireReason != 'undefined' ? $showReason : null;

    </script>
    ## separate script tags so not everything breaks if showReason or requireReason blows up

    <!-- XNAT global functions (no dependencies) -->
    <script src="$content.getURI('scripts/globals.js')"></script>

    <!-- required libraries -->
    <script src="$content.getURI('scripts/lib/loadjs/loadjs.js')"></script>
    <script src="$content.getURI('scripts/lib/jquery/jquery.min.js')"></script>
    <script src="$content.getURI('scripts/lib/jquery/jquery-migrate.min.js')"></script>
    <script>
        // alias jQuery to jq
        var jq = jQuery;
    </script>

    <!-- jQuery plugins -->
    <link rel="stylesheet" type="text/css" href="$content.getURI('scripts/lib/jquery-plugins/chosen/chosen.min.css?v=1.7.0a1')">
    <script src="$content.getURI('scripts/lib/jquery-plugins/chosen/chosen.jquery.min.js')"></script>
    <script src="$content.getURI('scripts/lib/jquery-plugins/jquery.maskedinput.min.js')"></script>
    <script src="${SITE_ROOT}/scripts/lib/jquery-plugins/jquery.hasClasses.js"></script>
    <script src="${SITE_ROOT}/scripts/lib/jquery-plugins/jquery.dataAttr.js"></script>
    <script src="${SITE_ROOT}/scripts/lib/jquery-plugins/jquery.form.js"></script>

    <!-- other libraries -->
    <script src="${SITE_ROOT}/scripts/lib/spawn/spawn.js"></script>
    <script src="${SITE_ROOT}/scripts/lib/js.cookie.js"></script>
    <script src="${SITE_ROOT}/scripts/lib/yamljs/dist/yaml.js"></script>
    <script src="${SITE_ROOT}/scripts/lib/form2js/src/form2js.js"></script>

<!-- XNAT utility functions -->
    <script src="$content.getURI('scripts/utils.js')"></script>

    #set ($baseJS = true)

#else

    <!-- BaseJS is loaded -->

#end
